section.intro {
	min-height: 80vh;
	background:
		linear-gradient(rgba(31, 33, 51, 0.4), rgba(11, 13, 35, 0.4)),
		url('../imgs/bg-2.jpg') center/cover fixed no-repeat;
}

.oo-bg-luxuria {
  background-color: black;
}
.oo-title-underline {
  width: 150px;
  height: 5px;
  margin-top: 0 auto;
}